* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    height: 20px;
    color: wheat;
    background-color: rgb(117, 110, 110);
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: column-reverse;
}

select {
    width: 80%;
    height: 40px;
    text-decoration: none;
    border: 2px solid rgb(117, 110, 110);
    margin-top: 5px;
}

button {
    width: 80%;
    height: 40px;
    background-color: rgb(117, 110, 110);
    text-decoration: none;
    border: 2px solid rgb(117, 110, 110);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.signup {
    width: 500px;
    border: 2px solid rgb(117, 110, 110);
    margin: 5px;
}

input {
    width: 80%;
    height: 40px;
    text-decoration: none;
    border: 2px solid rgb(117, 110, 110);
    color: rgb(117, 110, 110);
}

input:hover {
    background-color: rgb(230, 223, 210);
    color: rgb(117, 110, 110);
}

p {
    color: white;
    text-decoration: none;
    display: inline-flex;
}

button:hover {
    background-color: white;
    color: rgb(117, 110, 110);
}

h2,
h3 {
    color: white;
}

.footer {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgb(117, 110, 110);
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}